# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
venv/
venv_home/

# Misc
*~
.*.sw?
.env/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Documentation
docs/
fhe-collector/docs/build
fhe-collector/docs/Makefile

# Unit test / coverage reports
.tox
.coverage
.coverage.*
.*cache
coverage.xml
*.cover
pip-wheel-metadata
pytest.ini

# Personal
*.code-workspace
.pypirc
.env
.env_psql
notes*.md
dev/
app/static/import/*
app/static/export/*
instance/
intern/
fhe.log*
.pytest_cache/
.cache
app.db
*.sqlite3
.coverage
migrations/script.py.mako
migrations/README
migrations/env.py
migrations/alembic.ini
