data/
app/static/import/*
app/static/export/*
venv/
build/
dist/
.eggs/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
notes*.md
settings_production.py
settings_testing.py
settings_development.py
settings_user.py
snippets.md
fhe.log*
.cache
app.db
*.sqlite3
.coverage
docs/source/settings_user.rst
docs/source/settings_development.rst
docs/source/settings_production.rst
docs/coverage_html_report/
intern/
.pytest_cache/
migrations/script.py.mako
migrations/README
migrations/env.py
migrations/alembic.ini
