# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
venv/

# Misc
*~
.*.sw?
env/

# Documentation
docs/
app/docs/build
app/docs/Makefile

# Personal
pytest.ini
.pypirc
.env
dev/
app/static/import/*
app/static/export/*
internal/
data/
fhe.log*
.cache
*.sqlite3
migrations/script.py.mako
migrations/README
migrations/env.py
migrations/alembic.ini
